:root[theme="light"] {
  --theme-color: #343639;
  --theme-desc: #767C81;
  --theme-secondary: #B2B2B2;
  --theme-background: #FFF;
  --theme-nav-background:#FFF;
  --theme-border: #EFEFF4;
}

:root[theme="dark"] {
  --theme-color: #E7E7E8;
  --theme-desc: #919193;
  --theme-secondary: #676767;
  --theme-background: #101015;
  --theme-nav-background:#18181D;
  --theme-border: #2D2D30;
}

:root {
  --theme-center-color: #18A058;
}