:root[theme="light"] {
  --theme-color: #343639;
  --theme-desc: #767C81;
  --theme-secondary: #B2B2B2;
  --theme-background: #FFF;
  --theme-nav-background:#FFF;
  --theme-border: #EFEFF4;
  --theme-table-hover: #F0F0F0;
  --theme-table-interval: #FAFAFA;
  --theme-search-background: #FFF;
  --theme-search-hover-background: #F2F2F2;
  --theme-span-height-light: #5882B2;
  --theme-border: #F2F2F2;
  --theme-progress-bar: #f8f8f8;
}

:root[theme="dark"] {
  --theme-color: #B3B3B3;
  --theme-desc: #919193;
  --theme-secondary: #676767;
  --theme-background: #101015;
  --theme-nav-background:#18181D;
  --theme-border: #2D2D30;
  --theme-table-hover: #323232;
  --theme-table-interval: #1f1f1f;
  --theme-search-background: #212121;
  --theme-search-hover-background: #1b1b1b;
  --theme-span-height-light: #85B9E6;
  --theme-border: #303030;
  --theme-progress-bar: #101013;
}

:root {
  --theme-center-color: #18A058;
  --theme-span-background-color: rgba(24,160,88,.1)
}